<header>
  <button class="menu-button"><i class="fa-solid fa-bars"></i></button>
  <a routerLink="/bags" class="logo"
    ><img src="/assets/logo.png" alt="" srcset=""
  /></a>
  <ul class="nav-list">
    <li>
      <a routerLink="/bags">Bags</a>
    </li>
    <li>
      <a routerLink="/tops">Tops</a>
    </li>
    <li>
      <a routerLink="/bottoms">Bottoms</a>
    </li>
    <li>
      <a routerLink="/watches">Watches</a>
    </li>
  </ul>
  <ul class="nav-list-user">
    <li>
      <a href="javascript:void(0)"><i class="fa-solid fa-user"></i></a>
    </li>
    <li>
      <a href="javascript:void(0)"><i class="fa-solid fa-cart-shopping"></i></a>
    </li>
  </ul>
</header>
