<header>
  <button class="menu-button" (click)="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <a routerLink="/bags" class="logo"
    ><img src="/assets/logo.png" alt="" srcset=""
  /></a>
  <ul
    class="nav-list"
    [ngClass]="{ open: isMenuShown == true }"
    (click)="toggleMenu()"
  >
    <li>
      <a
        routerLink="/bags"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Bags</a
      >
    </li>
    <li>
      <a
        routerLink="/tops"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Tops</a
      >
    </li>
    <li>
      <a
        routerLink="/bottoms"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Bottoms</a
      >
    </li>
  </ul>
  <ul class="nav-list-user">
    <li>
      <a href="javascript:void(0)"><i class="fa-solid fa-user"></i></a>
    </li>
    <li>
      <a href="javascript:void(0)"><i class="fa-solid fa-cart-shopping"></i></a>
    </li>
  </ul>
</header>
