<footer>
  <div class="links">
    <div class="links-block">
      <div class="title">Categories</div>
      <div class="links-items">
        <a href="">Bags</a>
        <a href="">Tops</a>
        <a href="">Bottoms</a>
        <a href="">Watches</a>
      </div>
    </div>
    <div class="links-block">
      <div class="title">About Us</div>
      <div class="links-items">
        <a href="">Contact</a>
        <a href="">Where to find</a>
      </div>
    </div>
    <div class="links-block">
      <div class="title">Information</div>
      <div class="links-items">
        <a href="">Terms and conditions</a>
        <a href="">Privacy Policy</a>
        <a href="">Other</a>
      </div>
    </div>
  </div>
  <div class="copyright">&copy; Clothing Store 2023. All rights reserved.</div>
</footer>
