<div class="products">
  <div class="products-header">
    <div class="category">
      <div class="name">{{ listingInfo.name }}</div>
      <div class="desc">{{ listingInfo.description }}</div>
    </div>
    <span
      >Displaying {{ productsLoaded.length }}/{{
        productsToLoad
      }}
      products</span
    >
    <div class="sort">
      <label for="sort">Sort By:</label>
      <select
        name="sort"
        id="sort"
        #sortSelect
        (change)="sortProducts(sortSelect)"
      >
        <option value="a-z">Alphabetical A-Z</option>
        <option value="z-a">Alphabetical Z-A</option>
        <option value="price-ascend">Price Ascending</option>
        <option value="price-descend">Price Descending</option>
      </select>
    </div>
    <button class="menu-filters" (click)="toggleFilters()">
      <i class="fa-solid fa-filter"></i> Filters
    </button>
  </div>
  <div class="list" *ngIf="productsLoaded.length > 0">
    <ng-container *ngFor="let product of productsLoaded; let i = index">
      <div class="item" *ngIf="i < productsToLoad">
        <img src="{{ product.image }}" alt="" srcset="" />
        <div class="item-info">
          <div class="name">{{ product.name }}</div>
          <div class="desc">
            {{ product.description }}
          </div>
          <div class="price">
            {{ product.price.toString().split(".")[0] }}
            <span class="cents">{{
              product.price.toString().split(".")[1]
            }}</span>
            лв.
          </div>
          <div class="rating">
            <ng-container *ngFor="let rating of getStarRating(product.rating)">
              <i class="fa-solid fa-star {{ rating }}"></i>
            </ng-container>
          </div>
          <button class="addcart" (click)="buyProduct()">
            <span>Add to cart</span><i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="no-products" *ngIf="productsLoaded.length == 0">
    No products found.
  </div>
  <div
    class="load-more"
    (click)="loadMore()"
    *ngIf="productsLoaded.length > 0 && maxProducts != productsToLoad"
  >
    <button>Load More</button>
  </div>
</div>
