.products {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
}

.products-header {
  position: relative;
  padding-left: 1%;
  padding-right: 1%;
  width: 98%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
}

.products-header .category {
  position: relative;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.products-header .category .name {
  font-size: 30px;
  font-weight: 700;
}

.products-header .category .desc {
  font-size: 20px;
  font-weight: 200;
}

.products-header .sort {
  position: relative;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-header .sort label {
  width: 90px;
}

.products-header .sort select {
  width: 80%;
  height: 100%;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.list {
  position: relative;
  width: 100%;
  padding-top: 1%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  position: relative;
  width: 300px;
  border: 1px solid lightgray;
}

.item img {
  width: 300px !important;
}

.item-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-info .name {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.item-info .desc {
  width: 280px;
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 16px;
}

.item-info .price {
  font-size: 30px;
  font-weight: 500;
}

.item-info .price {
  display: flex;
}

.item-info .price .cents {
  font-size: 16px;
}

.item-info .rating {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.rated {
  color: orange;
}

.addcart {
  position: relative;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.07rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
}

.addcart span {
  transition: all 0.2s ease-in-out;
}

.addcart .fa {
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: black;
  right: -30px;
  transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
}

.addcart:hover {
  border-color: black;
  background: transparent;
  transition: border-color 0.2s;
}

.addcart:hover span {
  margin-right: 20px;
  color: black;
}
.addcart:hover .fa {
  right: 12px;
}

.menu-filters {
  position: relative;
  width: 250px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.3s all ease;
  display: none;
}

.menu-filters:hover {
  color: black;
}

.load-more {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.load-more button {
  width: 350px;
  height: 40px;
  border: 2px solid black;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s all ease;
  cursor: pointer;
}

.load-more button:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .list {
    justify-content: center;
  }
}

@media only screen and (max-width: 870px) {
  .products-header {
    flex-direction: column;
    height: fit-content;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
  }
}
